@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap");



.banner .parallax-text {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 25vw;
  font-style: italic;
}

.banner .parallax-text::after {
  content: attr(text);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  color: transparent;
  -webkit-text-stroke: 0.15vw black;
}

.banner img {
  width: 66vw;
  animation: sneakerAnimation 2s cubic-bezier(0.25, 1, 0.5, 1) infinite alternate;
}

@keyframes sneakerAnimation {
  0%, 10% {
    transform: translate(100vw, 0) rotate(15deg);
  }
  90%, 100% {
    transform: translate(-5vw, -5vw) rotate(-30deg);
  }
}