 /* Reset */
html {
    font-size: 10px;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dark:root {
    --main-bg: #131313;
    --box-bg: #232323;
    --name-color: #f8f8f8;
    --card-bg-text: #ffffff;
}

.green:root {
    --product-bg: #9bdc28;
}
.blue:root {
    --product-bg: #1da3c3;
}
.red:root {
    --product-bg: #eb0e2f;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-bg);
    line-height: 1.6;
}


.product-container img {
    width: 100%;
    object-fit: cover;
}

.product-container {
    border: 5px solid var(--name-color);
    background: var(--product-bg);
    width: 75rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 7rem;
}

.product-container .image {
    width: 35rem;
    transform: rotate(-20deg);
    margin-left: -4rem;
    min-height: 230px;
}

.product-container .details .cost {
    font-size: 2rem;
    font-weight: 600;
}

.product-container .details .title {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
}

.card-container {
    border: 5px solid #232323;
    background-color: #f8f8f8;
    height: 35rem;
    width: 60rem;
    margin-left: -32rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.card-details {
    grid-area: 2/1/5/4;
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.field {
    display: flex;
    flex-direction: column;
}

input {
    font-family: 'IBM Plex Mono', monospace;
    padding: 0.5rem 0.5rem;
    font-size: 1.7rem;
    background-color: #f8f8f8;
    width: 90%;
}

.card-number {
    grid-area: 1/1/1/4;
    align-self: end;
}

.card-name {
    grid-area: 2/1/2/4;
    align-self: end;
}

.expires,
.cvc {
    align-self: end;
    width: 60%;
}

.field input {
    border-bottom: 2px solid #000000;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}



.name {
    font-size: 1rem;
}

.purchase-button {
    font-family: 'IBM Plex Mono', monospace;
    padding: 1rem 1.25rem;
    position: relative;
    background-color: #000000;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02rem;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: transparent;
    grid-area: 5/4;
}

.purchase-button::after {
    content: attr(data-content);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--product-bg);
    border: 2px solid var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-bg);
    transform: translate(-0.4rem, -0.4rem);
    transition: transform .2s cubic-bezier(.34, 1.56, .64, 1);
}

.purchase-button:hover::after {
    transform: translate(0, 0);
}

.payment-method-selector {

    margin-bottom: 15px;

}

.payment-method-selector ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}

.payment-method-selector ul li {
    list-style: none;
    margin-right: 15px;
    border: 2px solid var(--main-bg);
    color: #0a0a0a;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    width: 200px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
}

.payment-method-selector ul li  img{
    width: 25px;
    margin-right: 10px;
}

.payment-method-selector ul li.active {
    background-color: var(--product-bg);
}

.card-details {
    
    display: none;
}

.melipay {
    display: grid;
    grid-area: 2 / 1 / 5 / 4;
}

.melipay .loading, .melipay .error {
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-area: 2 / 1 / 5 / 4;
}

.melipay .loading img{
    margin-bottom: 10px;
}

.melipay .loading p{
    font-size: 13px;
}

.melipay .error{
    display: none;
    justify-content: center;
}

.loadingspinner {
    pointer-events: none;
    width: 2.5em;
    height: 2.5em;
    border: 0.4em solid transparent;
    border-color: #eee;
    margin-bottom: 5px;
    border-top-color: #000000;
    border-radius: 50%;
    -webkit-animation: loadingspin 1s linear infinite;
    animation: loadingspin 1s linear infinite;
}

ul.custom-radio-list {
    list-style-type: none;
    padding: 0;
}

.custom-radio-list li {
    margin-bottom: 10px;
    list-style: none;
    border: 2px solid black;
    padding: 12px;
}

.custom-radio {
    appearance: none;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    border: 2px solid #555;
    border-radius: 2px;
    /* Keep this low for a more square-like appearance */
    position: relative;
}

.custom-radio:checked {
    background-color: #000000;
    border-color: #000000;
}

.custom-radio:checked::after {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 12px;
    height: 12px;
    background-color: #FEFC00;
}

.custom-radio-list label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-radio-list p {
    margin: 0 0 0 8px;
    display: inline-block;
    font-size: 16px;
}

@-webkit-keyframes loadingspin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1050px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .product-container {
        width: 100%;
        border-color: transparent;
        height: 35rem;
        align-items: center;
        padding: 1.5rem;
        justify-content: end;
    }

    .product-container .image {
        width: 30rem;
    }

    .product-container .details {
        text-align: center;
    }

    .payment-method-selector ul li{
        text-align: center;
    }

    .card-container {
        width: 100%;
        height: 100%;
        max-width: 100%;
        border-color: transparent;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .field label {
        font-size: 1.3rem;
    }

    .card-details {
        grid-area: 2/1/5/5;
    }
}